@import "variables";
@import "vendors/bootgrid";

.bootgrid-footer .infoBar,
.bootgrid-header .actionBar {
	text-align: left;
}
.bootgrid-footer .search,
.bootgrid-header .search {
	vertical-align: top;
}
.bootgrid-header {
	padding: 0 25px 10px;
}
.bootgrid-header .search {
	border: 1px solid #e0e0e0;
}
.bootgrid-header .search .form-control,
.bootgrid-header .search .input-group-addon {
	border: 0;
}
.bootgrid-header .search .glyphicon-search {
	vertical-align: top;
	padding: 9px 10px 0;
}
.bootgrid-header .search .glyphicon-search:before {
	content: "\f1c3";
	font-family: $font-icon-md;
	font-size: 17px;
	vertical-align: top;
	line-height: 100%;
}
@media (min-width: 480px) {
	.bootgrid-header .search {
		width: 300px;
	}
}
@media (max-width: 480px) {
	.bootgrid-header .search {
		width: 100%;
		padding-right: 90px;
	}
}
.bootgrid-header .actions {
	box-shadow: none;
}
.bootgrid-header .actions .btn-group {
	border: 1px solid #e0e0e0;
}
.bootgrid-header .actions .btn-group .btn {
	height: 35px;
	box-shadow: none !important;
	background: transparent;
}
.bootgrid-header .actions .btn-group .dropdown-menu {
	padding: 10px 20px;
}
.bootgrid-header .actions .btn-group .dropdown-menu .dropdown-item {
	padding: 0 0 0 27px !important;
}
.bootgrid-header .actions .btn-group .dropdown-menu .dropdown-item:hover {
	background-color: #fff !important;
}
@media (min-width: 768px) {
	.bootgrid-header .actions .btn-group .dropdown-menu {
		left: 0;
		-webkit-transform-origin: top left;
		-moz-transform-origin: top left;
		-ms-transform-origin: top left;
		transform-origin: top left;
		margin-top: 1px;
	}
}
.bootgrid-header .actions .btn-group .caret {
	display: none;
}
.bootgrid-header .actions .btn-group .zmdi {
	line-height: 100%;
	font-size: 18px;
	vertical-align: top;
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
}
.bootgrid-header .actions .btn-group.open .zmdi {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
@media (max-width: 480px) {
	.bootgrid-header .actions {
		position: absolute;
		top: 0;
		right: 15px;
	}
}
.bootgrid-table th > .column-header-anchor > .icon {
	top: 0px;
	font-size: 20px;
	line-height: 100%;
}
.bootgrid-footer .col-sm-6 {
	padding: 10px 30px 20px;
}
@media (max-width: 768px) {
	.bootgrid-footer .col-sm-6 {
		text-align: center;
	}
}
@media (max-width: 768px) {
	.bootgrid-footer .infoBar {
		display: none;
	}
}
.bootgrid-footer .infoBar .infos {
	border: 1px solid #EEE;
	display: inline-block;
	float: right;
	padding: 7px 30px;
	font-size: 12px;
	margin-top: 5px;
}
.select-cell .checkbox {
	margin: 0;
}


.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell !important;
}

table.bootgrid-table {
	> thead > tr > th, > tbody > tr > td{
		&.wbootgrid-btn{
			padding: 6px;
			width: 52px;
			&:last-child{
				width:100px;
				padding-right:50px;
			}
			.btn-icon{
				font-size:16px;
			}
		}
		
		&.avatar{
			width: 68px;
		}
		
		&.select-cell{
			width:56px;
		}
		
		&.toggler{
			width:100px;
		}
	}
}

.bootgrid-footer{
	clear:both;
	min-height:120px;
}