@import "variables";
.listview {
	position: relative;
}
.listview:not(.lv-lg):not(.lv-message) .lv-item {
	padding: 10px 20px;
}
@media (min-width: 480px) {
	.listview.lv-lg .lv-item {
		padding: 17px 35px 17px 25px;
	}
}
@media (max-width: 767px) {
	.listview.lv-lg .lv-item {
		padding: 17px 35px 17px 20px;
	}
}
.listview.lv-lg .lv-item:hover {
	background-color: #FFFFDB;
}
.listview .lv-item {
	position: relative;
	display: block;
	-webkit-transition: background-color;
	-o-transition: background-color;
	transition: background-color;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;
}
.listview .lv-item .lv-small {
	font-size: 12px;
	color: #A9A9A9;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	width: 100%;
}
.listview .lv-item .checkbox,
.listview .lv-item.media {
	margin: 0;
}
.listview .lv-item .lv-actions {
	position: absolute;
	right: 15px;
	top: 10px;
}
@media (max-width: 480px) {
	.listview .lv-item .lv-actions {
		right: 7px;
	}
}
.listview .lv-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}
.listview a.lv-item:hover {
	background: #ECF9FF;
}
.listview [class*="lv-img"] {
	border-radius: 50%;
}
.listview .lv-img {
	width: 48px;
	height: 48px;
}
.listview .lv-img-sm {
	width: 35px;
	height: 35px;
}
.listview.lv-bordered .lv-item:not(:last-child) {
	border-bottom: 1px solid #f0f0f0;
}
.listview .lv-attrs {
	list-style: none;
	padding: 0;
	margin: 5px 0 0 0;
}
.listview .lv-attrs > li {
	display: inline-block;
	padding: 2px 10px 3px;
	font-size: 12px;
	margin-top: 5px;
	margin-right: 2px;
}
.listview .lv-attrs > li:not(.info):not(.primary):not(.warning):not(.danger) {
	border: 1px solid #dedede;
	background: #fff;
	color: $text-color;
}
.listview .lv-attrs > li.info {
	border: 1px solid $m-cyan;
	background: $m-cyan;
	color: #fff;
}
.listview .lv-attrs > li.primary {
	border: 1px solid $m-blue;
	background: $m-blue;
	color: #fff;
}
.listview .lv-attrs > li.warning {
	border: 1px solid $m-orange;
	background: $m-orange;
	color: #fff;
}
.listview .lv-attrs > li.danger {
	border: 1px solid $m-red;
	background: $m-red;
	color: #fff;
}
.listview .lv-attrs > li > a {
	display: block;
}
.listview:not(.lv-message) .lv-title {
	color: #000;
}
[class*="lv-img"] {
	border-radius: 50%;
}
.lv-img {
	width: 48px;
	height: 48px;
}
.lv-img-sm {
	width: 35px;
	height: 35px;
}
.lv-header {
	text-align: center;
	padding: 15px 10px 13px;
	line-height: 100%;
	text-transform: uppercase;
	border-bottom: 1px solid #F0F0F0;
	font-weight: 500;
	color: #4C4C4C;
	margin-bottom: 10px;
}
.lv-header .actions {
	position: absolute;
	top: 6px;
	right: 8px;
	z-index: 10;
}
.lvh-search {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 4;
	background: #fff;
	display: none;
}
.lvh-search:before {
	content: "\f1c3";
	font-family: $font-icon-md;
	position: absolute;
	left: 24px;
	top: 17px;
	font-size: 22px;
}
.lvhs-input {
	border: 0;
	padding: 0 26px 0 55px;
	height: 63px;
	font-size: 18px;
	width: 100%;
	font-weight: 100;
	background: #fff;
	border-bottom: 1px solid #EEE;
}
.lvh-search-close {
	font-style: normal;
	position: absolute;
	top: 23px;
	right: 22px;
	font-size: 17px;
	width: 18px;
	height: 18px;
	background-color: #ADADAD;
	line-height: 100%;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
}
.lvh-search-close:hover {
	background: #333;
}
.lv-header-alt {
	position: relative;
	background: #f8f8f8;
	padding: 15px;
}
.lv-header-alt .lv-actions {
	z-index: 3;
	float: right;
	margin-top: 3px;
	position: relative;
}
.lv-header-alt .lv-actions > li > a {
	margin: 0 3px;
}
.lvh-label {
	color: #818181;
	display: inline-block;
	margin: 0;
	font-size: 14px;
	font-weight: normal;
	padding: 0 6px;
	line-height: 33px;
	vertical-align: middle;
	float: left;
}
.lv-footer {
	display: block;
	text-align: center;
	padding: 7px 10px 8px;
	border-top: 1px solid #F0F0F0;
	line-height: 100%;
	font-size: 11px;
	margin-top: 20px;
	color: #828282;
}
a.lv-footer:hover {
	color: #050505;
}
/*
 * Inside Card will have more padding
 */
.card-body .lv-item {
	padding: 12px 20px;
}