@import "variables";

.lc-block {
	background: #fff;
	box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
	border-radius: 2px;
	width: 500px;
	display: inline-block;
	margin-top: 42px;
	vertical-align: middle;
	position: relative;
}
.lc-block:not(.toggled) {
	display: none;
}
.lc-block.toggled {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
	-webkit-animation-duration: 300ms;
	animation-duration: 300ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	z-index: 10;
}
.lc-block:not(.lcb-alt) {
	padding: 35px 55px 35px;
}
@media (max-width: 767px) {
	.lc-block {
		padding: 15px 35px 25px 20px;
		width: calc(100% - 60px);
	}
}
.lc-block .checkbox {
	margin: 5px 0 0 42px;
	text-align: left;
}
.lc-block:not(.lcb-alt) .btn-login {
	top: 50%;
	margin-top: -25px;
	right: -25px;
}
.login-navigation {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0%;
	bottom: -45px;
}
.login-navigation > li {
	display: inline-block;
	margin: 0 2px;
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 150ms;
	transition-duration: 150ms;
	cursor: pointer;
	vertical-align: top;
	color: #fff;
	line-height: 16px;
	min-width: 16px;
	min-height: 16px;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.login-navigation > li > span {
	opacity: 0;
	filter: alpha(opacity=0);
}
.login-navigation > li:not(:hover) {
	font-size: 0px;
	border-radius: 100%;
}
.login-navigation > li:hover {
	border-radius: 10px;
	padding: 0 5px;
	font-size: 8px;
}
.login-navigation > li:hover > span {
	opacity: 1;
	filter: alpha(opacity=100);
}
.lcb-alt {
	padding: 70px 55px 60px;
}
.lcb-alt .btn-login {
	bottom: -25px;
	left: 50%;
	margin-left: -25px;
}
.lcb-alt .login-navigation {
	bottom: -75px;
}
.lcb-user {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 5px solid #fff;
	position: absolute;
	top: -50px;
	left: 50%;
	margin-left: -50px;
	box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.18);
}