@import "variables";

.pricing-table {
	margin-top: 70px;
	max-width: 1170px;
	margin: 70px auto 0;
}
.pt-inner {
	text-align: center;
}
.pt-inner .pti-header {
	padding: 45px 10px 70px;
	color: #fff;
	position: relative;
	margin-bottom: 15px;
}
.pt-inner .pti-header > h2 {
	margin: 0;
	line-height: 100%;
	color: #fff;
	font-weight: 100;
	font-size: 50px;
}
.pt-inner .pti-header > h2 small {
	color: #fff;
	letter-spacing: 0;
	vertical-align: top;
	font-size: 16px;
	font-weight: 100;
}
.pt-inner .pti-header .ptih-title {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 8px 10px 9px;
	text-transform: uppercase;
	margin: 0 -10px;
	position: absolute;
	width: 100%;
	bottom: 0;
}
.pt-inner .pti-body {
	padding: 0 23px;
}
.pt-inner .pti-body .ptib-item {
	padding: 15px 0;
	font-weight: 400;
}
.pt-inner .pti-body .ptib-item:not(:last-child) {
	border-bottom: 1px solid #eee;
}
.pt-inner .pti-footer {
	padding: 10px 20px 30px;
}
.pt-inner .pti-footer > a {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	display: inline-block;
	line-height: 60px;
	font-size: 30px;
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;
}
.pt-inner .pti-footer > a:hover {
	opacity: 0.85;
	filter: alpha(opacity=85);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}
