@import "variables";

.tab-nav {
	list-style: none;
	padding: 0;
	white-space: nowrap;
	margin: 0;
	overflow: auto;
	box-shadow: inset 0 -2px 0 0 #eee;
}
.tab-nav > li {
	display: inline-block;
	vertical-align: top;
}
.tab-nav > li > a {
	display: inline-block;
	color: #7a7a7a;
	text-transform: uppercase;
	position: relative;
	width: 100%;
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	font-weight: 500;
}
.tab-nav > li > a:after {
	content: "";
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
@media (min-width: 768px) {
	.tab-nav > li > a {
		padding: 15px;
	}
}
@media (max-width: 768px) {
	.tab-nav > li > a {
		padding: 15px 8px;
	}
}
.tab-nav > li.active > a {
	color: #000;
}
.tab-nav > li.active > a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.tab-nav.tab-nav-right {
	text-align: right;
}
.tab-nav.tn-justified > li {
	display: table-cell;
	width: 1%;
	text-align: center;
}
.tab-nav.tn-icon > li .zmdi {
	font-size: 22px;
	line-height: 100%;
	min-height: 25px;
}
.tab-nav:not([data-tab-color]) > li > a:after {
	background: $m-blue;
}
.tab-nav[data-tab-color="green"] > li > a:after {
	background: $m-green;
}
.tab-nav[data-tab-color="red"] > li > a:after {
	background: $m-red;
}
.tab-nav[data-tab-color="teal"] > li > a:after {
	background: $m-teal;
}
.tab-nav[data-tab-color="amber"] > li > a:after {
	background: $m-amber;
}
.tab-nav[data-tab-color="black"] > li > a:after {
	background: $m-black;
}
.tab-nav[data-tab-color="cyan"] > li > a:after {
	background: $m-cyan;
}
.tab-content {
	padding: 20px 0;
}
