@import "variables";

.dash-widget-item {
	position: relative;
	min-height: 380px;
	margin-bottom: 30px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.dash-widget-item .dash-widget-header {
	position: relative;
}
.dash-widget-item .dash-widget-header .actions {
	display: none;
	position: absolute;
	right: 4px;
	top: 6px;
	padding: 0;
	list-style: none;
}
.dash-widget-item .dash-widget-header .actions > li {
	display: inline-block;
	vertical-align: baseline;
}
.dash-widget-item .dash-widget-header .actions > li > a {
	color: #fff;
	font-size: 20px;
}
.dash-widget-item .dash-widget-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.dash-widget-item .dash-widget-title {
	padding: 12px 20px;
	position: absolute;
	width: 100%;
	left: 0;
	font-weight: 300;
}
.dash-widget-item:hover .dash-widget-header .actions {
	display: block;
}
/*
 * Site Visits
 */
#site-visits {
	color: rgba(255, 255, 255, 0.9);
}
#site-visits .dash-widget-header {
	padding-bottom: 38px;
	background-color: rgba(0, 0, 0, 0.13);
}
#site-visits .dash-widget-title {
	bottom: 0;
	background: rgba(0, 0, 0, 0.15);
	color: rgba(255, 255, 255, 0.9);
}
#site-visits h3 {
	color: rgba(255, 255, 255, 0.9);
}
/*
 * Best Selling Item
 */
#best-selling {
	background-color: #fff;
}
#best-selling .dash-widget-header > img {
	width: 100%;
	height: 155px;
}
#best-selling .dash-widget-header .dash-widget-title {
	padding-bottom: 30px;
	top: 0;
	color: #fff;
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='$m-black00', GradientType=0);
}
#best-selling .dash-widget-header .main-item {
	padding: 15px;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$m-black00', endColorstr='#99000000', GradientType=0);
}
#best-selling .dash-widget-header .main-item > h2 {
	font-weight: 400;
	font-size: 20px;
	margin: 5px 0 0 0;
	line-height: 100%;
	color: #fff;
}
/*
 * Weather
 */
#weather-widget {
	color: #fff;
	padding: 20px 20px 0;
}
#weather-widget .weather-status {
	font-size: 40px;
	line-height: 100%;
}
#weather-widget .weather-icon {
	text-align: center;
	margin-top: 10px;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center;
	/* Weather Icons */
}
#weather-widget .weather-icon.wi-0 {
	background-image: url("#{$img-path}weather/0.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-0 {
		background-image: url("#{$img-path}weather/0@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-1 {
	background-image: url("#{$img-path}weather/1.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-1 {
		background-image: url("#{$img-path}weather/1@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-2 {
	background-image: url("#{$img-path}weather/2.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-2 {
		background-image: url("#{$img-path}weather/2@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-3 {
	background-image: url("#{$img-path}weather/3.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-3 {
		background-image: url("#{$img-path}weather/3@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-4 {
	background-image: url("#{$img-path}weather/2.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-4 {
		background-image: url("#{$img-path}weather/2@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-5 {
	background-image: url("#{$img-path}weather/5.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-5 {
		background-image: url("#{$img-path}weather/5@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-6 {
	background-image: url("#{$img-path}weather/5.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-6 {
		background-image: url("#{$img-path}weather/5@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-7 {
	background-image: url("#{$img-path}weather/5.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-7 {
		background-image: url("#{$img-path}weather/5@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-8 {
	background-image: url("#{$img-path}weather/5.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-8 {
		background-image: url("#{$img-path}weather/5@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-9 {
	background-image: url("#{$img-path}weather/9.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-9 {
		background-image: url("#{$img-path}weather/9@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-10 {
	background-image: url("#{$img-path}weather/5.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-10 {
		background-image: url("#{$img-path}weather/5@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-11 {
	background-image: url("#{$img-path}weather/9.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-11 {
		background-image: url("#{$img-path}weather/9@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-12 {
	background-image: url("#{$img-path}weather/9.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-12 {
		background-image: url("#{$img-path}weather/9@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-13 {
	background-image: url("#{$img-path}weather/9.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-13 {
		background-image: url("#{$img-path}weather/9@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-14 {
	background-image: url("#{$img-path}weather/9.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-14 {
		background-image: url("#{$img-path}weather/9@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-15 {
	background-image: url("#{$img-path}weather/5.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-15 {
		background-image: url("#{$img-path}weather/5@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-16 {
	background-image: url("#{$img-path}weather/9.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-16 {
		background-image: url("#{$img-path}weather/9@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-17 {
	background-image: url("#{$img-path}weather/5.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-17 {
		background-image: url("#{$img-path}weather/5@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-18 {
	background-image: url("#{$img-path}weather/18.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-18 {
		background-image: url("#{$img-path}weather/18@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-19 {
	background-image: url("#{$img-path}weather/19.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-19 {
		background-image: url("#{$img-path}weather/19@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-20 {
	background-image: url("#{$img-path}weather/19.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-20 {
		background-image: url("#{$img-path}weather/19@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-21 {
	background-image: url("#{$img-path}weather/19.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-21 {
		background-image: url("#{$img-path}weather/19@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-22 {
	background-image: url("#{$img-path}weather/19.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-22 {
		background-image: url("#{$img-path}weather/19@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-23 {
	background-image: url("#{$img-path}weather/19.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-23 {
		background-image: url("#{$img-path}weather/19@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-24 {
	background-image: url("#{$img-path}weather/24.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-24 {
		background-image: url("#{$img-path}weather/24@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-25 {
	background-image: url("#{$img-path}weather/24.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-25 {
		background-image: url("#{$img-path}weather/24@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-26 {
	background-image: url("#{$img-path}weather/26.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-26 {
		background-image: url("#{$img-path}weather/26@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-27 {
	background-image: url("#{$img-path}weather/27.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-27 {
		background-image: url("#{$img-path}weather/27@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-28 {
	background-image: url("#{$img-path}weather/28.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-28 {
		background-image: url("#{$img-path}weather/28@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-29 {
	background-image: url("#{$img-path}weather/27.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-29 {
		background-image: url("#{$img-path}weather/27@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-30 {
	background-image: url("#{$img-path}weather/28.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-30 {
		background-image: url("#{$img-path}weather/28@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-31 {
	background-image: url("#{$img-path}weather/31.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-31 {
		background-image: url("#{$img-path}weather/31@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-32 {
	background-image: url("#{$img-path}weather/32.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-32 {
		background-image: url("#{$img-path}weather/32@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-33 {
	background-image: url("#{$img-path}weather/31.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-33 {
		background-image: url("#{$img-path}weather/31@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-34 {
	background-image: url("#{$img-path}weather/32.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-34 {
		background-image: url("#{$img-path}weather/32@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-35 {
	background-image: url("#{$img-path}weather/5.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-35 {
		background-image: url("#{$img-path}weather/5@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-36 {
	background-image: url("#{$img-path}weather/32.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-36 {
		background-image: url("#{$img-path}weather/32@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-37 {
	background-image: url("#{$img-path}weather/2.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-37 {
		background-image: url("#{$img-path}weather/2@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-38 {
	background-image: url("#{$img-path}weather/2.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-38 {
		background-image: url("#{$img-path}weather/2@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-39 {
	background-image: url("#{$img-path}weather/2.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-39 {
		background-image: url("#{$img-path}weather/2@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-40 {
	background-image: url("#{$img-path}weather/5.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-40 {
		background-image: url("#{$img-path}weather/5@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-41 {
	background-image: url("#{$img-path}weather/5.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-41 {
		background-image: url("#{$img-path}weather/5@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-42 {
	background-image: url("#{$img-path}weather/9.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-42 {
		background-image: url("#{$img-path}weather/9@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-43 {
	background-image: url("#{$img-path}weather/5.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-43 {
		background-image: url("#{$img-path}weather/5@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-44 {
	background-image: url("#{$img-path}weather/27.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-44 {
		background-image: url("#{$img-path}weather/27@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-45 {
	background-image: url("#{$img-path}weather/2.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-45 {
		background-image: url("#{$img-path}weather/2@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-46 {
	background-image: url("#{$img-path}weather/18.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-46 {
		background-image: url("#{$img-path}weather/18@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-icon.wi-47 {
	background-image: url("#{$img-path}weather/2.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#weather-widget .weather-icon.wi-47 {
		background-image: url("#{$img-path}weather/2@2x.png");
		background-size: 125px 125px;
	}
}
#weather-widget .weather-info {
	list-style: none;
	padding: 0;
	margin: 3px 0 0 0;
}
#weather-widget .weather-info > li {
	display: inline-block;
	border: 1px solid rgba(255, 255, 255, 0.39);
	padding: 2px 10px 3px;
	margin-right: 5px;
}
#weather-widget .weather-list {
	background: rgba(0, 0, 0, 0.08);
	padding: 5px 12px;
	font-size: 16px;
	height: 51px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#weather-widget .weather-list > span {
	margin-right: 7px;
	font-weight: 300;
	display: inline-block;
	line-height: 40px;
	vertical-align: top;
}
#weather-widget .weather-list > span.weather-list-icon {
	width: 35px;
	height: 35px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px 30px;
}
#weather-widget .weather-list > span.weather-list-icon.wi-0 {
	background-image: url('#{$img-path}weather/0.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-1 {
	background-image: url('#{$img-path}weather/1.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-2 {
	background-image: url('#{$img-path}weather/2.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-3 {
	background-image: url('#{$img-path}weather/3.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-4 {
	background-image: url('#{$img-path}weather/2.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-5 {
	background-image: url('#{$img-path}weather/5.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-6 {
	background-image: url('#{$img-path}weather/5.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-7 {
	background-image: url('#{$img-path}weather/5.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-8 {
	background-image: url('#{$img-path}weather/5.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-9 {
	background-image: url('#{$img-path}weather/9.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-10 {
	background-image: url('#{$img-path}weather/5.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-11 {
	background-image: url('#{$img-path}weather/9.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-12 {
	background-image: url('#{$img-path}weather/9.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-13 {
	background-image: url('#{$img-path}weather/9.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-14 {
	background-image: url('#{$img-path}weather/9.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-15 {
	background-image: url('#{$img-path}weather/5.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-16 {
	background-image: url('#{$img-path}weather/9.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-17 {
	background-image: url('#{$img-path}weather/5.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-18 {
	background-image: url('#{$img-path}weather/18.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-19 {
	background-image: url('#{$img-path}weather/19.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-20 {
	background-image: url('#{$img-path}weather/19.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-21 {
	background-image: url('#{$img-path}weather/19.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-22 {
	background-image: url('#{$img-path}weather/19.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-23 {
	background-image: url('#{$img-path}weather/19.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-24 {
	background-image: url('#{$img-path}weather/24.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-25 {
	background-image: url('#{$img-path}weather/24.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-26 {
	background-image: url('#{$img-path}weather/26.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-27 {
	background-image: url('#{$img-path}weather/27.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-28 {
	background-image: url('#{$img-path}weather/28.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-29 {
	background-image: url('#{$img-path}weather/27.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-30 {
	background-image: url('#{$img-path}weather/28.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-31 {
	background-image: url('#{$img-path}weather/31.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-32 {
	background-image: url('#{$img-path}weather/32.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-33 {
	background-image: url('#{$img-path}weather/31.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-34 {
	background-image: url('#{$img-path}weather/32.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-35 {
	background-image: url('#{$img-path}weather/5.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-36 {
	background-image: url('#{$img-path}weather/32.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-37 {
	background-image: url('#{$img-path}weather/2.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-38 {
	background-image: url('#{$img-path}weather/2.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-39 {
	background-image: url('#{$img-path}weather/2.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-40 {
	background-image: url('#{$img-path}weather/5.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-41 {
	background-image: url('#{$img-path}weather/5.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-42 {
	background-image: url('#{$img-path}weather/9.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-43 {
	background-image: url('#{$img-path}weather/5.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-44 {
	background-image: url('#{$img-path}weather/27.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-45 {
	background-image: url('#{$img-path}weather/2.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-46 {
	background-image: url('#{$img-path}weather/18.png');
}
#weather-widget .weather-list > span.weather-list-icon.wi-47 {
	background-image: url('#{$img-path}weather/2.png');
}
#weather-widget .weather-list > span > i {
	line-height: 100%;
	font-size: 39px;
}
/*
 * Pie Charts
 */
#pie-charts {
	background: #fff;
}
#pie-charts .dash-widget-header {
	color: rgba(255, 255, 255, 0.9);
}
/*
 * Blog Post
 */
.blog-post .bp-header {
	position: relative;
}
.blog-post .bp-header > img {
	width: 100%;
}
.blog-post .bp-header .bp-title {
	background: $m-indigo;
	width: 100%;
	padding: 20px;
	color: #FFF;
	display: block;
}
.blog-post .bp-header .bp-title > h2 {
	color: #FFF;
	font-weight: 400;
	margin: 0 0 2px;
	line-height: 100%;
	font-size: 21px;
}
/*
 * Profile View
 */
.profile-view {
	text-align: center;
}
.profile-view .pv-header {
	position: relative;
	height: 145px;
	width: 100%;
	background-image: url('#{$img-path}headers/sm/4.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}
.profile-view .pv-header > .pv-main {
	border-radius: 50%;
	width: 130px;
	position: absolute;
	height: 130px;
	bottom: -50px;
	left: 50%;
	margin-left: -65px;
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;
}
.profile-view .pv-body {
	margin-top: 70px;
	padding: 0 20px 20px;
}
.profile-view .pv-body > h2 {
	margin: 0;
	line-height: 100%;
	font-size: 20px;
	font-weight: 400;
}
.profile-view .pv-body > small {
	display: block;
	color: #8E8E8E;
	margin: 10px 0 15px;
}
.profile-view .pv-body .pv-contact,
.profile-view .pv-body .pv-follow {
	padding: 0;
	list-style: none;
}
.profile-view .pv-body .pv-contact > li,
.profile-view .pv-body .pv-follow > li {
	display: inline-block;
}
.profile-view .pv-body .pv-follow {
	margin: 20px -20px;
	padding: 10px;
	background-color: $app-gray;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
}
.profile-view .pv-body .pv-follow > li {
	padding: 0 10px;
}
.profile-view .pv-body .pv-contact > li {
	margin: 0 5px;
}
.profile-view .pv-body .pv-contact > li > .zmdi {
	line-height: 100%;
	vertical-align: text-bottom;
	font-size: 22px;
}
.profile-view .pv-body .pv-follow-btn {
	padding: 7px 20px;
	background: $m-cyan;
	color: #FFF;
	border-radius: 3px;
	text-transform: uppercase;
	display: block;
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;
}
.profile-view .pv-body .pv-follow-btn:hover {
	background: #00a5bb;
}
.profile-view:hover .pv-main {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
/*
 * Picture List
 */
.picture-list .pl-body {
	padding: 2px;
}
.picture-list .pl-body [class*="col-"] {
	padding: 0;
	padding: 2px;
}
.picture-list .pl-body [class*="col-"] > a {
	display: block;
	position: relative;
}
.picture-list .pl-body [class*="col-"] > a:before {
	left: 0;
	top: 0;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform: scale3d(0, 0, 0);
	-moz-transform: scale3d(0, 0, 0);
	-ms-transform: scale3d(0, 0, 0);
	-o-transform: scale3d(0, 0, 0);
	transform: scale3d(0, 0, 0);
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 250ms;
	transition-duration: 250ms;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 0;
	border-radius: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}
.picture-list .pl-body [class*="col-"] > a:hover:before {
	-webkit-transform: scale3d(1, 1, 1);
	-moz-transform: scale3d(1, 1, 1);
	-ms-transform: scale3d(1, 1, 1);
	-o-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	opacity: 1;
	filter: alpha(opacity=100);
}
.picture-list .pl-body [class*="col-"] > a img {
	width: 100%;
}
.picture-list .pl-body:before,
.picture-list .pl-body:after {
	content: " ";
	display: table;
}
.picture-list .pl-body:after {
	clear: both;
}
.picture-list .pl-body:before,
.picture-list .pl-body:after {
	content: " ";
	display: table;
}
.picture-list .pl-body:after {
	clear: both;
}
/*
 * Social
 */
.go-social .card-body {
	padding: 0 15px 20px;
}
.go-social .card-body [class*="col-"] {
	padding: 12px;
}
.go-social .card-body [class*="col-"] img {
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.go-social .card-body [class*="col-"]:hover img {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
/*
 * Rating
 */
.rating-list {
	padding: 0 0 10px;
}
.rating-list .rl-star {
	margin-top: 10px;
	margin-bottom: 4px;
}
.rating-list .rl-star .zmdi {
	font-size: 20px;
}
.rating-list .rl-star .zmdi:not(.active) {
	color: #ccc;
}
.rating-list .rl-star .zmdi.active {
	color: $m-orange;
}
.rating-list .lv-item .media .zmdi-star {
	line-height: 100%;
	font-size: 22px;
	color: $m-orange;
	vertical-align: middle;
	position: relative;
	top: -2px;
	left: 6px;
}
.rating-list .lv-item .media .media-body {
	padding: 7px 10px 0 5px;
}